/* This is the CCS file for the quiz app. */
/* The font used in this app is Funnel Sans and Silkscreen. */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Silkscreen:wght@400;700&display=swap');


/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Funnel Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 3rem;
}   


.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.no-style {
    text-decoration: none;
}

/* Navbar Styles */
#navbar {
    background-color: #333;
    color: white;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-height: 10vh;
}


#navbar h1 a {
    padding: 1em;
    text-align: center;
    color: white;
}

#navbar h1 a:hover {
    color: green;
}

/* Main Styles */
#navbar h1 {
    padding: 1em;
}

#navbar :hover {
    color: green;
}

#main {
    background-color: #333;
    margin: 50px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.heading {
    background-color: white;
    text-align: center;
    margin: 5em;
    padding: 5px;
}

.lead {
    font-size: 3rem;
    font-weight: bold;
}

.questions {
    background-color: white;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em;
    
}

.button {
    background-color: white;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    font-weight: bold;
}

.question {
    font-weight: bold;
    font-size: 1.4rem;
    margin: 5px;
    text-align: center;
}

.result {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 15vw;
    align-items: center;
    justify-content: center;
    margin: 5em;
}

#click-next {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-button {
    background-color: white;
    border-radius: 8px;
    color: blueviolet;
    padding: 15px 32px;
    font-weight: bold;
    width: 30%;
    text-align: center;
}

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.2em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* End Page */
#end-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.final-score {
    font-size: 2rem;
    font-weight: bold;
    margin: 5em;
    background-color: white;
    padding: 1em;
    color: #333;
    display: flex;
    justify-content: center;
    text-align: center;
}

.next {
    width: 100%;
    display: flex;
    align-self: center;
    flex-direction: row;
    align-items: center;
    margin: auto;
}


/* Start Page */
#start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    
    .questions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .answers {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        margin: 2em;
        text-wrap: wrap;
    }
    
    .button {
        height: 90px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 85%;
    }
    #end-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .next {
        display: flex;
        flex-direction:row;
        align-self: center;
        justify-content: center;
        gap: 2rem;
        text-align: center;
        margin: auto;
    }

    .submit-button {
        width: 20%;
        display: flex;
    }
}

@media screen and (min-width: 768px) {

    .questions {
        justify-content: center;
        align-items: center;
        margin: 5rem;
    }

    .answers {
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: center;
        gap: 5rem;
        margin: 3em;
    }

    .button {
        height: 120px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .next {
        display: flex;
        gap: 5vw;
        width: 50%;
        margin: 5vw 5vw 5vw 10vw;
    }

    .submit-button {
        display: flex;
        max-width: 110px;
    }
}

@media screen and (min-width: 1400px) {



    .questions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .answers {
        gap: 7rem;
        margin-top: 5em;
    }

}