@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Silkscreen:wght@400;700&display=swap');


h1 {
    font-family: 'Silkscreen', monospace;
    font-size: medium;
}

body {
    font-family: sans-serif;
    background-color: grey;
    color: white;
}

.generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.generator.h1 {
    margin-bottom: 20%;
}